.van-top-bar[data-v-49ef8de1] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.van-center-wrap[data-v-49ef8de1] {
  margin-top: 54px;
  padding-top: 10px;
}
.mr-1[data-v-49ef8de1] {
  margin-right: 5px;
}
.van-popup--bottom[data-v-49ef8de1] {
  display: flex;
  position: absolute;
  bottom: 0;
}
.van-card__title[data-v-49ef8de1] {
  font-size: 16px;
  margin-bottom: 5px;
}